@font-face {
    font-family: MuliRegular;
    src: url(../assets/fonts/muli/Muli-Regular.ttf);
}

@font-face {
    font-family: MuliBold;
    src: url(../assets/fonts/muli/Muli-Bold.ttf);
}

@font-face {
    font-family: MuliExtraBold;
    src: url(../assets/fonts/muli/Muli-ExtraBold.ttf);
}

@font-face {
    font-family: Portal;
    src: url(../assets/fonts/portal/portal-black.otf);
}

@font-face {
    font-family: CrimsonRegular;
    src: url(../assets/fonts/crimson/CrimsonText-Regular.ttf);
}

body, html {
    font-family: MuliRegular;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.title-bold {
    font-family: MuliExtraBold;
    color: white;
}

.intro-content {
    position: relative;
    height: 100%;
    color: #FFFFFF;
}

.intro-content .cont:before {
    content: "";
    position: absolute;
    width: 0;
    max-width: calc(70% - 30px);
    height: 100%;
    background: url('../assets/img/noise.png');
    animation-name: noise;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-transition: 1.5s;
    -ms-transition: 1.5s;
    transition: 1.5s;
 }

 @keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

 .intro-content .cont.animation:before {
   width: 100%;
 }

.name-part-one {
    padding: 22px 0 0 20px;
}

.name-part-one .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 6px;
    opacity: 0;
    animation: regular-fadein .7s 2s linear forwards;
}

.name-part-one .rect{
    display: table-cell;
    height:100px;
    height: 35px;
    width: 8px;
    background-color: #000;
    margin-bottom: 10px;
}

@keyframes regular-fadein {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.name-part-two {
    padding-top: 5px;
}

.name-part-one h2 {
    position:relative;
    color: black;
    margin: 0;
    font-size: 3.5rem;
    font-family: Bahnschrift;
    font-weight: bold;
    opacity: 0;
    animation: name-fadein-right .7s 1s linear forwards;
}

@keyframes name-fadein-up {
  0% {
    opacity: 0.25;
    -webkit-transform: translate(0, 200%);
    -ms-transform: translate(0, 200%);
    transform: translate(0, 200%);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
}

@keyframes name-fadein-right {
  0% {
    opacity: 0.25;
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
 }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.name-part-two {
    position: relative;
}

.name-part-two h2 {
    margin-top: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    opacity: 0;
    animation: name-fadein-up .7s 1s linear forwards;
}

.intro, .quote-section {
    display: flex;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
}

.description, .pic {
  display: flex;
  flex-direction: column;
  padding-right: 0;

}

.description p, .quote p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5%;
    white-space: pre-line;
}

.description p {
    font-family: MuliRegular;
    opacity: .7;
    animation: desc-fadein .7s 2s linear;
    animation-fill-mode: both;
}

@keyframes desc-fadein {
  from {opacity:0;}
  to {opacity:.7;}
}

.my-image {
    position: relative;
    height: 100%;
    max-height: 350px;
    padding: 0;
    background: url(../assets/img/ines.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: image-fadein .7s 1s both;
  }
  
  @keyframes image-fadein {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 200%);
        -ms-transform: translate(0, 200%);
        transform: translate(0, 200%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
  }

/*FAVORITES CONTENT*/

.favorites-content, .quote-content{
    position: relative;
    background-color: white;
    opacity: 0;
    animation: regular-fadein 1s 1s linear forwards;
}

.favorites-content {
    padding-top: 80px;
}

.favorites-content h2, .quote-content h2 {
    padding: 12px;
    padding-left: 44px;
    background: #000;
    color: #ffffff;
    margin-bottom: 0;
}

.list {
    height: 100%;
    width: 100%;
    max-height: 190px;
    display: flex;
    align-items: center;
    transition: 1s;
}

.list-show {
  transition: 1s;
  max-height: 300px;
}

.img-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin: 0 2%;
  opacity: 0;
}

.img-container > div:first-child {
  position: relative;
  height: 200px;
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-show {
  opacity: 1;
  transition: .5s;
  transition-delay: 2s;
}

.img-hide {
  opacity: 0;
  transition: .5s;
  transition-delay: 1.5s;
}

.img-hide:nth-child(2) { transition-delay: 0s }
.img-hide:nth-child(3) { transition-delay: .5s }
.img-hide:nth-child(4) { transition-delay: 1s }

.img-show:nth-child(2) { transition-delay: .5s }
.img-show:nth-child(3) { transition-delay: 1s }
.img-show:nth-child(4) { transition-delay: 1.5s }

.title-overlay {
  color: white;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: .3s ease;
}

.img-container:hover .title-overlay {
    opacity: .85;
}

.selected-ambient-works {
  background: url(../assets/img/selected-ambient-works.jpg);
}

.halcyon-digest {
  background: url(../assets/img/halcyon-digest.jpeg);
}

.amnesiac {
  background: url(../assets/img/amnesiac.jpg);
}

.stone-roses {
  background: url(../assets/img/the-stone-roses.jpg);
}

.lord-of-the-rings {
  background: url(../assets/img/lord-of-the-rings.jpg);
}

.fight-club {
  background: url(../assets/img/fight-club.jpg);
}

.district9 {
  background: url(../assets/img/district9.jpg);
}

.dumbo {
  background: url(../assets/img/dumbo.jpg);
}

.justine {
  background: url(../assets/img/justine.jpg);
}

.metamorphosis {
  background: url(../assets/img/metamorphosis.jpg);
}

.candide {
  background: url(../assets/img/candide.jpg);
}

.brave-new-world {
  background: url(../assets/img/brave-new-world.jpg);
}

.menu-title {
    display: block;
    height: 100%;
    padding: 12px;
    background: #000;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    writing-mode: vertical-rl;
    letter-spacing: .4em;
    text-orientation: upright;
    margin: 0;
    text-transform: uppercase;
    z-index: 2;
}

.menu-title-hide {
  text-orientation: inherit;
  letter-spacing: .8em;
}


.list-title {
  height:300px;
  cursor: pointer;
  transition: 1s;
  z-index: 3;
}

.list-title-hide {
  -webkit-transform: rotate(-90deg) translate(40%,35%);
  -ms-transform: rotate(-90deg) translate(40%,35%);
  transform: rotate(-90deg) translate(40%,35%);
  z-index: 3;
  transition: 1s;
}

.quote {
    padding-left: 44px;
}

.quote p, h4 {
    font-family: MuliBold;
}

.quote p {
    font-style: italic;
}

.quote h4 {
    font-family: MuliExtraBold;
    margin-top: 2%;
}
