@font-face {
    font-family: MuliRegular;
    src: url(../assets/fonts/muli/Muli-Regular.ttf);
}

@font-face {
    font-family: MuliExtraBold;
    src: url(../assets/fonts/muli/Muli-ExtraBold.ttf);
}

@font-face {
    font-family: Portal;
    src: url(../assets/fonts/portal/portal-black.otf);
}

@font-face {
    font-family: CrimsonRegular;
    src: url(../assets/fonts/crimson/CrimsonText-Regular.ttf);
}

body, html {
    overflow-x: hidden;
    font-family: MuliRegular;
}

.intro-container {
  height: 100vh;
}

.name-part-one {
    padding: 22px 0 0 20px;
}

.title-bold {
    font-family: MuliExtraBold;
    color: white;
}

.intro-content {
    position: relative;
    height: 100%;
    padding-top: 5px;
    color: #FFFFFF;
}

.cont {
  width: 100%;
}

.name-part-one .dot {
    display: table-cell;
    height:100px;
    height:100px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 6px;
}

.name-part-one .rect{
    display: table-cell;
    height:100px;
    height: 35px;
    width: 8px;
    background-color: #000;
    margin-bottom: 10px;
}

.name-part-one h2 {
    position:relative;
    color: black;
    margin: 0;
    font-size: 3.5rem;
    font-family: Bahnschrift;
    font-weight: bold;
}

.name-part-two {
    position: relative;
}
.name-part-two h2 {
    margin-top: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white
}

.intro {
    display: flex;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
}

.description, .pic {
  display: flex;
  flex-direction: column;
  padding-right: 0;

}

.description p {
    font-family: MuliRegular;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5%;
    opacity: .7;
    white-space: pre-line;
}

.description p span {
  display: block;
}

/*FAVORITES CONTENT*/

.favorites-content, .test-content {
    position: relative;
    padding-top: 80px;
    background-color: white;
}

/*test CONTENT*/

.test-content {
    position: relative;
    padding-top: 80px;
    background-color: white;
}

.inner {
    padding: 50% 0;
    height: 0;
}

.menu-list {
    display: block;
    /* transform-origin: top left; */
    /* Note: for a CLOCKWISE rotation, use the commented-out
       transform instead of this one. */
    /* transform: rotate(-90deg) translate(-100%); */
    /* transform: rotate(90deg) translate(0, -100%); */

    /* Not vital, but possibly a good idea if the element you're rotating contains
       text and you want a single long vertical line of text and the pre-rotation
       width of your element is small enough that the text wraps: */
    white-space: nowrap;
}

.menu-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0;
}


/*.my-img {
    z-index:999999;
}*/


.my-image {
  position: relative;
  height: 100%;
  max-height: 350px;
  padding: 0;
  background: url(../assets/img/ines.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* .favorites-content {
  letter-spacing: .1em;
} */

.favorites-content h2 {
  padding: 12px;
  padding-left: 44px;
  background: #000;
  color: #ffffff;
  margin: 0;
}

.list {
  height: 100%;
  max-height: 300px;
  display: flex;
  align-items: center;
}

.img-container {
  display: flex;
  flex-direction: column;
}

.img-container > div:first-child {
  position: relative;
  height: 200px;
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-container:hover .img-overlay {
  opacity: .85;
}

.img-overlay {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0;
  transition: .3s ease;
  /* background: #000;
  color: #ffffff; */
  font-weight: bold;
}

.title-overlay {
  color: black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}

.selected-ambient-works {
  background: url(../assets/img/selected-ambient-works.jpg);
}

.halcyon-digest {
  background: url(../assets/img/halcyon-digest.jpeg);
}

.amnesiac {
  background: url(../assets/img/amnesiac.jpg);
}

.lord-of-the-rings {
  background: url(../assets/img/lord-of-the-rings.jpg);
}

.fight-club {
  background: url(../assets/img/fight-club.jpg);
}

.dumbo {
  background: url(../assets/img/dumbo.jpg);
}

.justine {
  background: url(../assets/img/justine.jpg);
}

.metamorphosis {
  background: url(../assets/img/metamorphosis.jpg);
}

.brave-new-world {
  background: url(../assets/img/brave-new-world.jpg);
}

.intro-content .cont:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     max-width: calc(70% - 30px);
     height: 100%;
    background: url('../assets/img/noise.png');

     animation: 1s infinite noise;

     pointer-events: none;
 }

@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}


.main-title {
    padding: .3em 1em .25em;
    font-weight: 400;
    font-size: 3vw;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #4c2298;

    background: #794fc5;
}

.link {
    display: inline-block;
    padding: 1em 1em;

    color: #4c2298;
    line-height: 1;
    background: #794fc5;
    text-decoration: none;
    transition: color .3s ease, background .3s ease;
}

.link:hover, .link:focus {
    background: #4c2298;
    color: #794fc5;
}

/* test */

* {
    list-style-type: none;
}

.menu {
    display: block;
    position: relative;
    cursor: pointer;
    height: 250px;
}

.menu-title {
    display: block;
    height: 100%;
    padding: 12px;
    background: #000;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s ease-in-out all;
}

.menu-title:hover { background: #fff; color: #000; transition: 0.2s ease-in-out all; }

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height:100%
}

.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.flex-row .fav-pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*
.menu-dropdown {
    position: absolute;
    padding: 0;
    background: white;
}

.menu .menu-dropdown div {
    visibility: hidden;
    height: 220px;
    opacity: 0;
    margin: 10px;
    width: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(25,25,25,0);
    transition:
            0.8s width ease-in-out,
            0.8s opacity,
            0.5s padding,
            0.5s margin,
            0.3s color,
            0.8s visibility;
    z-index: 99;
}

.menu .menu-dropdown div.open {
    height: 220px;
    width: 227px;
    margin: 10px;
    opacity: 1;
    background: rgba(0,0,0,0);
    visibility: visible;
    white-space: nowrap;
    transition:
            0.8s width ease-in-out,
            0.8s opacity,
            0.5s padding cubic-bezier(.73,.32,.34,1.5),
            0.5s margin cubic-bezier(.73,.32,.34,1.5),
            0.5s 0.2s color,
            0.2s background-color;
}

.menu-dropdown > *:hover {
    background: rgba(0,0,0,0.1);
}

.menu:not(:hover) .menu-dropdown > * {
    visibility: hidden;
    width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25,25,25,0);
    transition:
            0.8s 0.5s width ease-in-out,
            0.5s 0.2s padding,
            0.5s 0.2s margin,
            0.3s 0.2s color,
            0.8s 0.5s visibility;
    z-index: 99;
}

.hList > * + * {
    margin-left: 0;
} */
